---
title: Študentský vývojový tím
layout: default
---

<section id="projects">
  <h2>Projekty ŠVT</h2>
  <ul id="projects-list">
    {% for project in site.data.projects %}
      <li>
        <a href="{{project.url}}">
          <img src="project-logos/{{project.name | slugify}}.png" alt="{{project.name}} logo" />
          {{project.name}}
        </a>
        {{project.description | markdownify}}

        <ul class="project-uses">
          {% for tagname in project.uses %}
            {% assign tag = site.data.uses_tags[tagname] %}
            <li><a title="{{tagname}}" href="{{tag.url}}"><img alt="{{tagname}}" src="{{tag.icon}}" /></a></li>
          {% endfor %}
        </ul>

      </li>
    {% endfor %}
  </ul>
</section>

<section id="members">
  <h2>Členovia</h2>
  <ul id="members-current">
    {% for name in site.data.members.current %}
      <li>{{name}}</li>
    {% endfor %}
  </ul>

  <h2>Bývalí členovia</h2>
  <ul id="members-past">
    {% for name in site.data.members.past %}
      <li>{{name}}</li>
    {% endfor %}
  </ul>
</section>
