---
title: Študentský vývojový tím
layout: default
---

<section id="join-us">
  Máš nápad? Chceš sa pridať?
  <a class="button accent" href="mailto:fmfi-svt@googlegroups.com">Napíš nám!</a>
</section>

<section id="about-us">
  <p>Sme študenti <a href="http://www.fmph.uniba.sk" title="Fakulta matematiky, fyziky a informatiky Univerzity Komenského v Bratislave">FMFI UK</a>. Vyvíjame a prevádzkujeme softvér (s otvoreným zdrojovým kódom), ktorý nám, ostatným študentom i&nbsp;ďalším ľuďom z fakulty a univerzity uľahčuje život. Baví nás to a ešte sa sa popri tom naučíme veľa nových vecí.</p>
</section>

<section id="projects">
  <h2>Naše projekty</h2>
  <ul id="projects-list">
    {% for project in site.data.projects %}
      <li>
        <a href="{{project.url}}">
          <img src="project-logos/{{project.name | slugify}}.png" alt="{{project.name}} logo" />
          {{project.name}}
        </a>
        {{project.description | markdownify}}

        <ul class="project-uses">
          {% for tagname in project.uses %}
            {% assign tag = site.data.uses_tags[tagname] %}
            <li><a title="{{tagname}}" href="{{tag.url}}"><img alt="{{tagname}}" src="{{tag.icon}}" /></a></li>
          {% endfor %}
        </ul>

      </li>
    {% endfor %}
  </ul>
</section>

<section id="members">
  <h2>Členovia</h2>
  <ul id="members-current">
    {% for name in site.data.members.current %}
      <li>{{name}}</li>
    {% endfor %}
  </ul>

  <h2>Bývalí členovia</h2>
  <ul id="members-past">
    {% for name in site.data.members.past %}
      <li>{{name}}</li>
    {% endfor %}
  </ul>
</section>
