---
---

= vendor-prefix($name, $argument)
  -webkit-#{$name}: #{$argument}
  -moz-#{$name}: #{$argument}
  -o-#{$name}: #{$argument}
  #{$name}: #{$argument}

.project-uses
  list-style: none
  li
    display: inline
    a
      text-decoration: none
      img
        width: 16px
