---
---

=vendor-prefix($name, $argument)
  -webkit-#{$name}: #{$argument}
  -moz-#{$name}: #{$argument}
  -o-#{$name}: #{$argument}
  #{$name}: #{$argument}

$primary-color:   #005200
$secondary-color: #3daa3d
$accent-color:    #c20000

$content-width: 47em

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext)

/// Site-wide (header, footer, ...) ///////////

body
  margin: 0
  padding: 0
  font-family: 'Source Sans Pro', sans-serif

#header-sitewide
  background: $secondary-color
  border: 0 solid $primary-color
  border-width: 6px 0
  margin: 80px 0 54px

#header-sitewide-content, #content
  max-width: $content-width
  margin: 0 auto
  position: relative

#header-title
  position: absolute
  top: 50%
  right: 0
  margin: -2.8em 0
  text-transform: uppercase
  color: #fff
  h1, h2
    margin: 0
    font-size: 2.3em
  h2
    font-weight: normal

#header-logo
  height: 238px
  width:  238px
  margin: -64px 0
  background: #fff
  border: 6px solid $primary-color
  +vendor-prefix(border-radius, 50%)
  text-align: center

#header-logo-img
  position: relative
  top: 47px

#footer-sitewide
  background: $primary-color
  color: #fff
  text-align: center
  padding: 0.4em 0 0.36em
  clear: both

#content
  padding-bottom: 4em

#content section
  margin: 2em 0

/// Typography and stuff //////////////////////

#content h2
  color: $secondary-color

a.button
  display: inline-block
  padding: 2px 0.8em 4px
  margin: 0 0 0 0.8em
  text-decoration: none
  background: $primary-color
  color: #fff
  +vendor-prefix(border-radius, 6px)

  &.accent
    background: $accent-color
    &:hover
      background: lighten($accent-color, 10%)

/// Homepage //////////////////////////////////

section#join-us
  font-size: 1.4em
  color: $primary-color
  text-align: right

section#projects
  width: 60%
  float: left
  padding-right: 5%
  border-right: 1px solid $primary-color

  a
    font-size: 0.8em

section#members
  width: 30%
  float: right

section#projects,
section#members
  h2:first-child
    margin-top: -0.2em

  ul
    margin-left: 0
    padding-left: 0
    list-style: none

  p:last-child,
  ul:last-child
    margin-bottom: 0
